<!--
`rpg-avatar` is the custom element that represents an entity avatar.

Example:
    <rpg-avatar avatar="amg1_fr1" is-uri="true"></rpg-avatar>


@element rpg-avatar
@blurb This is the custom element that represents an entity avatar.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-avatar" attributes="avatar is-uri">
  <template>
		<link rel="stylesheet" href="../../styles/animations/players.css">
		<style>
			.avatar {
				width: 32px;
				height: 32px;
				display: block;
			}
		</style>
		<template if="{{isUri}}">
			<img class="avatar" src="{{avatar}}" width="32px" height="32px"/>
		</template>
		<template if="{{!isUri}}">
		 	<i class="avatar players-sprite players-sprite-{{avatar}}" ></i>
		</template>

	</template>
	<script>
	Polymer({
		publish: {
			isUri: false,
			avatar: ''
		},
		created: function(){
			this.isUri = this.avatar.startsWith('data:');
		}
	});
	</script>
</polymer-element>