<!--
`rpg-entity` is the custom element that represents a playable entity.

Example:
    <rpg-entity tyle="player"></rpg-entity>


@element rpg-entity
@blurb This is the custom element that represents a playable entity.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-entity" attributes="type name life avatar current-position previous-position">
  <template>
		<style>
			:host {
			  position: absolute;
			  cursor: pointer;
			  transition: left 0.5s linear,top 0.5s linear;
		    transform: translateZ(0);
			}
			:host .rpg-entity:hover img {
			  transform: scale(1.2);
			}
			:host .rpg-entity:hover span {
			  opacity: 1;
			}
			:host .rpg-entity {
			  width: 32px;
			  height: 32px;
			}
			:host .rpg-entity span {
			  opacity: 0;
			  transition: opacity 0.1s linear;
			  position: relative;
		    margin-left: -14px;
  			margin-top: 14px;
			}
			:host .rpg-entity img {
			  vertical-align: top;
			  transition: transform 0.1s linear;
			  cursor: pointer;
			}
			:host .rpg-entity .rpg-name {
			  z-index: 10;
			  font-weight: bolder;
			  font-size: 10px;
			  display: inline-block;
			  width: 60px;
			  border: 1px solid;
			  background-color: white;
			  border-radius: 4px;
			  top: -40px;
			  left: 0;
			  position: absolute;
			}
			:host .rpg-entity .rpg-life {
			  z-index: 10;
			  border: 1px solid;
			  display: inline-block;
			  width: 60px;
			  height: 8px;
			  border-radius: 4px;
			  overflow: hidden;
			  position: absolute;
			  background-color: white;
			  left: 0;
			  bottom: -15px;
			}
			:host .rpg-entity .rpg-life i {
			  background-color: lime;
			  width: 100%;
			  height: 8px;
			  display: inline-block;
			  margin: 0;
			  padding: 0;
			  position: absolute;
			  top: 0;
			  left: 0;
			  transition: width 1s;
			}
			:host .rpg-entity.collide {
			  animation-name: collide;
			  animation-duration: 0.1s;
			  animation-iteration-count: 2;
			}
					
			.vanish {
			  -webkit-animation: vanish 1s linear 1;
			}

			.collide {
			  -webkit-animation-name: collide;
			  -webkit-animation-duration: 0.1s;
			  -webkit-animation-iteration-count: 2;
			}

			.explode {
			  -webkit-animation: explode .5s steps(22) 1;
			  background: transparent url('../../images/explosion_22.png') no-repeat -100px -100px;
			}

			.explode img {
			  opacity: 0;
			}

			@-webkit-keyframes blink {
			  from { -webkit-transform: scale(0.8); }
			  50% { -webkit-transform: scale(1); }
			  to { -webkit-transform: scale(0.8); }
			}


			@-webkit-keyframes explode {
			  from { background-position: 2px -6px; }
			  to { background-position: -600px -6px; }
			}

			@-webkit-keyframes vanish {
			  to { -webkit-transform: scale(0); }
			}

			@-webkit-keyframes highlight {
			  0% {
			    box-shadow: 0 0 30px yellow;
			  }

			  50% {
			    box-shadow: 0 0 10px #ffc800;
			  }

			  100% {
			    box-shadow: 0 0 30px yellow;
			  }
			}

			@-webkit-keyframes collide {
			  0% {
			    margin-left: 5px;
			  }

			  50% {
			    margin-left: -5px;
			  }

			  100% {
			    margin-left: 0;
			  }
			}
		</style>
	  <div class="rpg-entity" id="entity-template">
	  	<span class="rpg-life"><i style="width:{{life}%;"></i></span>
	  	<span class="rpg-name">{{name}}</span>
	  	<img src="{{avatar}}" width="32px" height="32px"/>
	  </div>
	</template>
  <script>
  	var entity;
    Polymer({
    	publish : {
    		type: 'player',
    		'name': 'player', 
    		'life': 100,
    		'avatar': '',
    		'current-position-x': 0,
    		'current-position-y': 0,
    		'previous-position-x': 0,
    		'previous-position-y': 0
    	},
    	typeChanged: function(oldValue, newValue){
    		
    	},
    	lifeChanged: function(oldValue, newValue){
    		entity.life = newValue;
    	},
    	currentPositionXChanged: function(oldValue, newValue){
    		entity.position.current.x = newValue;
    	},
    	currentPositionYChanged: function(oldValue, newValue){
    		entity.position.current.y = newValue;
    	},
    	previousPositionXChanged: function(oldValue, newValue){
    		entity.position.previous.x = newValue;
    	},
    	previousPositionYChanged: function(oldValue, newValue){
    		entity.position.previous.y = newValue;
    	},
    	nameChanged: function(oldValue, newValue){
    		entity.name = oldValue;
    	},
    	lifeChanged: function(oldValue, newValue){
    		entity.life = oldValue;
    	},
    	avatarChanged: function(oldValue, newValue){
    		entity.avatar = oldValue;
    	},
    	collide: function() {
  		  this.classList.add('collide');
		    setTimeout(function() {
		      this.classList.remove('collide');
		    }.bind(this), 1000);
    	},
    	explode: function() {
    		this.animation.__start.call(this, 'explode');
    	},
    	animation: {
    		__start: function(name){
    			this.$['entity-template'].addEventListener('webkitAnimationEnd', this.animation.__end.bind(this), false);
    			this.$['entity-template'].classList.add(name);
    		},
    		__end: function(name){
		      this.$['entity-template'].removeEventListener('webkitAnimationEnd', this[name], false);
		      this.$['entity-template'].classList.remove('explode');
		      this.parentNode.removeChild(this);
    		}
    	},
    	created: function(){
    		try {
					entity = RPG.Factory[this.type]();
    		}
    		catch(e){
    			console.error('The entity type "'+this.type+'" is not valid. Here is the stack trace...');
    			console.trace();
    		}
    	}
    });
  </script>
</polymer-element>