<!--
`rpg-entity` is the custom element that represents a playable entity.

Example:
    <rpg-entity type="player"></rpg-entity>


@element rpg-entity
@blurb This is the custom element that represents a playable entity.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../rpg-avatar/rpg-avatar.html">

<polymer-element name="rpg-entity" attributes="host">
  <template>
	  <link rel="stylesheet" href="rpg-entity.css">
	  <div class="entity-template" id="entity-template">
	  	<span class="rpg-life" hidden?="{{!life.current}}"><i style="width:{{life.current/10}}%;"></i></span>
	  	<span class="rpg-name" hidden?="{{!life.current}}">{{name}}</span>
	  	
	  	<rpg-animation-layers id="animation-layers" host="{{host}}"></rpg-animation-layers>
			<rpg-avatar class="avatar" avatar="{{avatar_content}}" is-uri="{{avatar_is_uri}}"></rpg-avatar>
	  	
	  	<span class="hit-amount">-{{amount}}</span>

	  	<span class="debug-info" id="debug-info">
				life: {{life.current}}<br>
				p1: {{position.current.x}},{{position.current.y}}<br>
				p2: {{position.previous.x}},{{position.previous.y}}<br>
	  	</span>
	  </div>
	</template>
  <script>
  	var entity;
    Polymer({
    	publish : {
    		type: 'player',
    		name: 'player', 
    		life: {
    			current: 1000,
    			max: 1000
    		},
    		avatar: {
    			name: ''
    		},
    		position: {
    			current: {x:0, y:0},
    			previous: {x:0, y:0},
    		},
	    	debug: false,
	    	avatar_content: null,
	    	host: ''
    	},
    	debugChanged: function(oldValue, newValue){
    		this.$['debug-info'].classList.toggle('show-debug');
    	},
    	positionChanged: function(oldValue, newValue){
    		entity.position.current.x = newValue;
    	},
    	nameChanged: function(oldValue, newValue){
    		entity.name = newValue;
    	},
    	avatarChanged: function(oldValue, newValue){
    		this.avatar_content = newValue.name;
    		this.avatar_is_uri = false;
    		if(newValue['@c'] && newValue['@c'].indexOf('ServerImage') !== -1){
    			this.avatar_is_uri = true;
    			this.avatar_content = 'data:image/png;base64,'+newValue.content;
    		}
    		entity.avatar = this.avatar_content;
    	},
    	lifeChanged: function(oldValue, newValue){
    		entity.life = newValue;
    	},
    	explode: function(autoDestroy) {
    		this.$['animation-layers'].play('explosion', function(){
    			if(autoDestroy){
    				this.destroy();
    			}
    		}.bind(this));
    		return this;
    	},
    	destroy: function(){
				if(this.parentNode){
					this.parentNode.removeChild(this);
				}
    	},
    	heal: function(amount){
  			this.life.current += amount;
    		this.addState('healing');
        return this;
    	},
    	hit: function(amount){
    		this.life.current -= amount;
    		this.amount = amount;
    		this.$['entity-template'].classList.add('hit');
    		this.async(function(){
    			this.$['entity-template'].classList.remove('hit');
    		}, null, 900);
    		return this;
    	},
    	setDead: function(){
    		this.async(function(){
    			this.$['entity-template'].classList.add('dead');
    		}, null, 500);
    		return this;
    	},
    	revive: function(info){
    		this.$['entity-template'].classList.remove('dead');
		    this.life = info.life;
		    this.name = info.playerInfo.name;
    		return this;
    	},
    	addState: function(state){
    		this.$['animation-layers'].play(state);
    	},
    	removeState: function(state){
    		this.$['animation-layers'].stop(state);
    	},
      addAnimation: function(name){
        return this.$['animation-layers'].add(name);
      },
    	created: function(){

    		this.debug = false;
    		this.avatar_is_uri = false;
    		try {
					entity = RPG.Factory[this.type]();
    		}
    		catch(e){
    			console.error('RpgEntity::TypeError', 'The entity type "'+this.type+'" is not valid. Here is the stack trace...');
    		}
        
    	},
    	ready: function(){

    		this.$['animation-layers'].add('explosion');
        this.$['animation-layers'].add('healing');

        RPG.Factory.pubsub().subscribe(RPG.config.topics.GFX_ANIMATION_REGISTER, function(data){
          console.info('registering animation', data);
    		  this.addAnimation(data.name);
        }.bind(this));
    	}
    });
  </script>
</polymer-element>