<!--
`rpg-animation-layers` is the custom element that handles the animations.

Example:
    <rpg-animation-layers host="htt://localhost:8080/"></rpg-animation-layers>


@element rpg-animation-layers
@blurb This is the custom element that handles the animations.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-animation-layers" attributes="host">
  <template>
	  <link rel="stylesheet" href="../../styles/animations/explosion.css">
    <link rel="stylesheet" href="../../styles/animations/healing.css">
	  <link rel="stylesheet" href="../../styles/animations/selecting-cell.css">
	  <style>
	  	:host {
	  		position: absolute;
        width: 60px;
        height: 60px;
        margin-left: -30px;
        margin-top: -16px;
	  	}
			:host /deep/ span {
        position: absolute;
        background-color: rgba(0, 0, 0, 0);
			  opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        background-size: cover;
			}
		</style>
    
    <style>{{cssAnimationContent}}</style>

		<div id="states-container">
			<template repeat="{{animation in animationLayers}}">
		    <span class="layer-{{animation}}"></span>
		  </template>
		</div>
  </template>
  <script>
  Polymer({
    publish : {
    	host: ''
    },
  	add: function(name){

      if(!name.forEach){
  		  name = [name];
      }

      name.forEach(function(n){
          
        if(this.animationLayers.indexOf(n) === -1){
          this.animationLayers.push(n);
        }

      }.bind(this));

      return this;
  	},
  	play: function(nameOrCallback, callback){

      if(!this.isReady){
        this.playAnimationOnDomReady.push({
          nameOrCallback: nameOrCallback, 
          callback: callback          
        });
      }
      else {
        // if(typeof callback === 'function'){
    		  this.animationManager.start.call(this, nameOrCallback, callback);
        // }
        // else {
        //  this.animationManager.start.call(this, , nameOrCallback); 
        // }
      }

      return this;
  	},
  	stop: function(name){
  		this.animationManager.__end.call(this, name);
      return this;
  	},
  	animationManager: {
  		start: function(name, callback){
        var stateContainer = this.$[ 'states-container' ];
        var animationLayer = stateContainer.querySelector( name === 0 ? 'span' : '.layer-'+name);
  			this.async(function() {
    			if(animationLayer){
	    			animationLayer.addEventListener('webkitAnimationEnd', function(){
	  					this.animationManager.__end.call(this, name, callback);
	    			}.bind(this), false);
	    			animationLayer.classList.add(name);
    			}
				}, null, 0);
  		},
  		__end: function(name, callback){
  			var animationLayer = this.$[ 'states-container' ].querySelector('.layer-'+name);
	      if(animationLayer){
		      animationLayer.removeEventListener('webkitAnimationEnd', this.animationManager.__end.bind(this), false);
		      animationLayer.classList.remove(name);
		      if(typeof callback === 'function'){
		      	callback();
		      }
	      }
  		}
  	},
    domReady: function() {

      // Polymer doesn't replace variables in link tags => need to load it manually
      // var link = document.createElement("link");
      // link.setAttribute("rel", "stylesheet");
      // link.setAttribute("type", "text/css");
      // link.setAttribute("href", this.host+'/animations.css');
      // this.shadowRoot.appendChild(link);
      // this.element.convertSheetsToStyles(this.shadowRoot);
      
      this.isReady = true;
      if(this.playAnimationOnDomReady.length > 0){
        this.playAnimationOnDomReady.forEach(function(animation){
          this.play(animation.nameOrCallback, animation.callback);
        }.bind(this));
        this.playAnimationOnDomReady = [];
      }
    },
  	created: function(){
      this.isReady = false;
  		this.animationLayers = [];
      this.playAnimationOnDomReady = [];
      this.registerAnimationOnDomReady = [];

      RPG.Factory.animationManager().getAnimationsList().forEach(function(animationObject){
        this.cssAnimationContent = animationObject.content;
        this.add(animationObject.info.name.toLowerCase());
      }.bind(this));

  	}
  })
  </script>

</polymer-element>