<!--
`rpg-animation-layers` is the custom element that handles the animations.

Example:
    <rpg-animation-layers type="player"></rpg-animation-layers>


@element rpg-animation-layers
@blurb This is the custom element that handles the animations.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<polymer-element name="rpg-animation-layers">
  <template>
	  <link rel="stylesheet" href="../../styles/sprites/explosion.css">
	  <link rel="stylesheet" href="../../styles/sprites/healing.css">
	  <link rel="stylesheet" href="http://localhost:1337/styles/animations/remote-animations.css">
	  <style>
	  	:host {
	  		position: absolute;
			  width: 32px;
			  height: 32px;
			  margin-left: -16px;
	  	}
			:host /deep/ span {
		    position: absolute;
  			background-color: rgba(0, 0, 0, 0);
			  opacity: 1;
			  display: block;
			  margin-top: -2px;
			  margin-left: -11px;
			  width: 48px;
			  height: 48px;
			}
		</style>
		<div id="states-container">
			<template bind repeat="{{animation in animations}}">
		    <span class="layer-{{animation}}"></span>
		  </template>
		</div>
  </template>
  <script>
  Polymer({
  	register: function(name){
  		this.animations.push(name);
  	},
  	play: function(name, callback){
  		// this.$['states-container'].classList.add(name);
  		this.animationManager.start.call(this, name, callback);
  	},
  	stop: function(name){
  		this.$['states-container'].classList.remove(name);
  	},
  	animationManager: {
  		start: function(name, callback){
  			var animationLayer = this.$[ 'states-container' ].querySelector('.layer-'+name);
  			this.async(function() {
    			if(animationLayer){
	    			animationLayer.addEventListener('webkitAnimationEnd', function(){
	  					this.animationManager.__end.call(this, name, callback);
	    			}.bind(this), false);
	    			animationLayer.classList.add(name);
    			}
				}, null, 0);
  		},
  		__end: function(name, callback){
  			var animationLayer = this.$[ 'states-container' ].querySelector('.layer-'+name);
	      if(animationLayer){
		      animationLayer.removeEventListener('webkitAnimationEnd', this.animationManager.__end.bind(this), false);
		      animationLayer.classList.remove(name);
		      if(callback && callback.call){
		      	callback();
		      }
	      }
  		}
  	},
  	created: function(){
  		this.animations = [];
  	}
  })
  </script>

</polymer-element>