:host span.hit {
  position: absolute;
  color: rgb(255, 255, 255);
  margin-top: -47px;
  margin-left: -10px;
  opacity: 1;
  transform: scale(0.3);
  visibility: hidden;
}
:host .dead {
  -webkit-filter: grayscale(100%);
}
:host .hit-animate .hit {
  -webkit-animation: hit 1s linear 1;
}
:host .explode {
  -webkit-animation-name: explode;
}
:host .explode .avatar {
  visibility: hidden;
}
:host .heal {
  -webkit-animation: heal .5s 1;
}

/* animations definition */
@-webkit-keyframes hit {
  to {
    margin-top: -107px;
    margin-left: -27px;
    opacity: 0;
    visibility: visible;
    transform: scale(1.3);
  }
}
@-webkit-keyframes heal {
  from {
    width: 36px;
    height: 34px;
    background-position: -5px -5px;
  }
  to {
    width: 36px;
    height: 34px;
    background-position: -181px -5px;
  }
}