.explosion {
  background: url(../../images/sprites/explosion.png) no-repeat 48px center;
  z-index: 88;
  -webkit-animation-name: explosion;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 0.9s;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: steps(12);
}
.explosion .avatar {
  visibility: hidden;
}
@-webkit-keyframes explosion {
  from {
    background-position: 0;
  }
  to {
    background-position: -696px;
  }
}