.healing {
  background: url(../../images/sprites/healing.png) no-repeat 48px center;
  display: block;
  width: 48px;
  height: 48px;
  z-index: 99;
  -webkit-animation-name: healing;
  -webkit-animation-fill-mode: none;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-duration: 3s;
  -webkit-animation-delay: 0;
  -webkit-animation-timing-function: steps(24);
}
@-webkit-keyframes healing {
  from {
    background-position: 0;
  }
  to {
    background-position: -1392px;
  }
}