<!--
`rpg-player-info` is the custom element that shows the current selected entity.

Example:
    <rpg-player-info></rpg-player-info>


@element rpg-player-info
@blurb This is the custom element that shows the current selected entity.
@author Wassim Chegham
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../rpg-avatar/rpg-avatar.html">

<polymer-element name="rpg-player-info">
  <template>
		<link rel="stylesheet" href="rpg-player-info.css">
		<div hidden?="{{!model.name}}">
			<rpg-avatar avatar="{{model.avatar_content}}" is-uri="{{model.avatar_is_uri}}"></rpg-avatar>
			<span class="rpg-life"><i style="width:{{ model.life.current/10 }}%;" title="{{ model.life.current/10 }}"></i></span>
	    <span class="rpg-name">{{ model.name }}</span>
		</div>
  </template>
	<script>
	var default_model = {
    name: '',
    life: 0,
    avatar: {
    	name: ''
    }
  };
	Polymer({
		setEntity: function(ent){
			this.model = ent || default_model;
		},
		created: function() {
      this.model = default_model;
    }
	})
	</script>
</polymer-element>